@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-gradient {
    @apply bg-gradient-to-r from-[#DD31D1] via-[#8343DA] to-[#3D84E7];
  }
}

@font-face {
  font-family: Cerebri Sans;
  font-weight: normal;
  src: url("../assets/fonts/CerebriSansPro-Regular.ttf");
}

@font-face {
  font-family: Cerebri Sans;
  font-weight: bold;
  src: url("../assets/fonts/CerebriSansPro-Bold.ttf");
}

@font-face {
  font-family: Cerebri Sans;
  font-weight: normal;
  font-style: italic;
  src: url("../assets/fonts/CerebriSansPro-Italic.ttf");
}

@font-face {
  font-family: Cerebri Sans;
  font-weight: bold;
  font-style: italic;
  src: url("../assets/fonts/CerebriSansPro-BoldItalic.ttf");
}

@font-face {
  font-family: Cerebri Sans;
  font-weight: 400;
  src: url("../assets/fonts/CerebriSansPro-Medium.ttf");
}

@font-face {
  font-family: Cerebri Sans;
  font-weight: 300;
  src: url("../assets/fonts/CerebriSansPro-Light.ttf");
}

@font-face {
  font-family: Cerebri Sans;
  font-weight: 500;
  src: url("../assets/fonts/CerebriSansPro-SemiBold.ttf");
}

body {
  background-color: #06132d;
  font-family: "Cerebri Sans";
}

.gradient-text {
  background: linear-gradient(90deg, #dd31d1 0%, #8343da 47.92%, #3d84e7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-bg {
  background: #071736;
}
